    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid #000;
}
.admin {
    display: flex;
    align-items: center;
    gap: 10px;
}
.admin-circle {
    width: 35px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 50%;
}
.container {
    display: flex;
}
/*  SIDEBAR */
.sidebar {
    width: 180px;
    border-right: 1px solid #000;
    height: 700px;
}
.sidebar a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    text-align: center;
    font-style: italic;
}

.sidebar a.active {
    font-weight: bold;
}
.sidebar a:hover{
    background-color: aqua;
}
/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
}

.content h2 {
    margin-top: 0;
}
/* ===== FILTER BAR ===== */
.filters {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}
.search-box i {
    position: absolute;
    right: 8px;
    top: 7px;
    color: #007bff;
}
.search-box input {
    padding: 6px 30px 6px 8px;
    width: 180px;
}
.search-box i {
    position: absolute;
    right: 8px;
    top: 7px;
    color: #007bff;
}
select {
    padding: 6px;
}
.add-btn {
    margin-left: auto;
    padding: 6px 12px;
    background: #c8e6c9;
    border: 1px solid #5cb85c;
    cursor: pointer;
}
/* ===== TABLE ===== */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

th {
    font-weight: bold;
}

.status-active {
    color: green;
}

.status-inactive {
    color: red;
}
/* ===== PAGINATION ===== */
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    gap: 5px;
}
.pagination button {
    border: 1px solid #000;
    background:lightgray;
    padding: 4px 8px;
    cursor: pointer;
    align-items: right;
}
.pagination button:focus {
    outline: none;
}
.head{
    background-color: grey;
}
/* Overlay */
#overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.25);
    z-index: 99;
}

/* Modal Box */
#addCustomerModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    border: 1px solid #000;
    background: #fff;
    z-index: 100;
}
#addInvoiceModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    border: 1px solid #000;
    background: #fff;
    z-index: 100;
}

#invoiceForm {
    padding: 15px;
}

#invoiceForm select {
    width: 100%;
    padding: 6px;
    border: 1px solid #000;
    font-size: 13px;
}

/* Header */
.modal-header {
    padding: 8px 12px;
    border-bottom: 1px solid #000;
    font-size: 14px;
}

/* Form */
#customerForm {
    padding: 15px;
}

/* Two column layout */
.two-col {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.field {
    flex: 1;
}

label {
    font-size: 12px;
    display: block;
    margin-bottom: 4px;
}

/* Inputs */
input, textarea {
    width: 100%;
    padding: 6px;
    border: 1px solid #000;
    font-size: 13px;
    box-sizing: border-box;
}

textarea {
    height: 75px;
    resize: none;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.cancel {
    padding: 6px 22px;
    border: 1px solid #888;
    background: #f3f3f3;
}

.save {
    padding: 6px 26px;
    border: 1px solid #6cb36c;
    background: #dff0d8;
}

/* Hide all pages */
.page {
    display: none;
}

/* Show page when clicked */
.page:target {
    display: block;
}

/* Show customer ONLY when no hash in URL */
body:not(:has(:target)) #customer {
    display: block;
}
.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 13px;
}
.report-table th,
.report-table td {
    border: 1px solid #000;
    padding: 6px;
    text-align: left;
}

.report-table th {
    text-align: center;
    background: #f5f5f5;
}

.currency-btn {
    float: right;
    border-radius: 10%;
    background: #cce5ff;
    border: 1px solid #007bff;
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Delete Popup */

#deletePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    border: 1px solid #000;
    background: #fff;
    padding: 25px;
    text-align: center;
    z-index: 100;
}

.icon-circle {
    width: 50px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.cancel-btn {
    padding: 6px 18px;
    border: 1px solid #888;
    background: #f3f3f3;
}

.delete-btn {
    padding: 6px 18px;
    border: 1px solid #f44336;
    background: #f8d7da;
    color: #000;
}



