body {
    height: 100vh;
    background: linear-gradient(135deg, #0d6efd, #6610f2);
  }
  .login-card {
    margin-top: 10%;
    width: 100%;
    max-width: 400px;
  }
  .error-text {
    font-size: 0.85rem;
    color: red;
  }